/* src/components/CSS/HomePage/Typed.css */
.typing-container {
    position: absolute;
    right: 3%;
    /* Position 10% from the right edge */
    top: 65%;
    /* Position it vertically within the viewport */
    transform: translateY(-50%);
    /* Center vertically */
    max-width: 90%;
    /* Prevent overflow */
    padding: 10px;
    /* Ensure container fits within the viewport */
    display: flex;
    justify-content: flex-start;
    /* Align to the left */
    align-items: center;
    /* Center vertically if needed */
}

.typing-text {
    color: #000;
    font-size: 3rem;
    /* Adjust size as needed */
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    line-height: 1.5;
    text-align: right;
    /* Ensure text alignment is to the left */
}

/* Cursor style adjustments if needed */
.Typed-cursor {
    font-size: 2rem;
    color: #000;
}

/* Responsive adjustments */
@media (max-width: 768px) {
    .typing-container {
        font-size: 1.5rem;
    }

    .typing-text {
        font-size: 1.5rem;
    }
}

@media (max-width: 480px) {
    .typing-container {
        font-size: 1.2rem;
    }

    .typing-text {
        font-size: 1.2rem;
    }
}