.work-page-container {
    width: 100vw;
        height: 100vh;
        overflow-x: hidden;
        margin: 0;
        padding: 0;
        box-sizing: border-box;

}

.sub-heading {
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 70px;
    position: absolute;
    /* Adjusted from 20pc to a fixed pixel value */
    margin-top: 0;
    text-decoration: underline;
    display: flex;
    align-items: center;
    padding-right: 20px;
}

.letter {
    display: inline-block;
    opacity: 0;
    transform: translateX(100%);
    transition: transform 0.5s ease, opacity 0.5s ease;
}

.letter.show {
    opacity: 1;
    transform: translateX(0);
}

.github-button {
    background-color: #000;
    /* Black background */
    border: none;
    border-radius: 50%;
    /* Round button */
    margin-left: 10px;
    /* Increase margin to avoid cutting off on hover */
    cursor: pointer;
    color: #fff;
    transition: background-color 0.3s ease, transform 0.2s ease;
    padding: 10px;
    /* Padding for round shape */
    width: 45px;
    /* Set width for round shape */
    height: 45px;
    /* Set height for round shape */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    /* Ensure the button is on top */
    overflow: visible;
    /* Prevent cutting off on hover */
}

.github-button:hover {
    background-color: #333;
    /* Slightly lighter on hover */
    transform: scale(1.1);
    /* Slightly enlarge on hover */
}

.github-button svg {
    font-size: 35px;
    /* Adjust icon size */
}

@media (max-width: 768px) {
    .sub-heading {
        font-size: 60px !important;
    }

    .github-button {
        width: 40px;
        height: 40px;
    }

    .github-button svg {
        font-size: 20px;
        /* Adjust icon size for medium screens */
    }
}

@media (max-width: 480px) {
    .sub-heading {
        font-size: 40px !important;
    }

    .github-button {
        width: 35px;
        height: 35px;
    }

    .github-button svg {
        font-size: 18px;
        /* Adjust icon size for small screens */
    }
}