.work-page-container {
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.sub-heading {
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 70px;
    /* Base font size */
    position: absolute;
    left: 1cm;
    margin-top: 0;
    text-decoration: underline;
    overflow: hidden;
    white-space: nowrap;
}

.letter {
    display: inline-block;
    opacity: 0;
    transform: translateX(100%);
    /* Start off-screen to the right */
    transition: transform 0.5s ease, opacity 0.5s ease;
}

.letter.show {
    opacity: 1;
    transform: translateX(0);
    /* Bring letters into view */
}

.sub-heading {
    font-size: 70px !important;
}

@media (max-width: 768px) {
    .sub-heading {
        font-size: 60px !important;
    }
}

@media (max-width: 480px) {
    .sub-heading {
        font-size: 40px !important;
    }
}