/* Fullpage section for each component */
.fullpage-section {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    box-sizing: border-box;
}

/* Background colors for different sections */
.about-background {
    background: linear-gradient(to bottom, #FFFFFF 70%, #A7D0FF 100%);
}

.work-background {
    background: linear-gradient(to bottom, #A5D0FF, #EEC2FF);
}

.whyme-background {
    background: linear-gradient(to bottom, #EEC2FF, #FFFFFF);
}

.contact-background {
    background-color: #5A43A0;
}

html {
    scroll-behavior: smooth;
}

/* Adjust the body margin based on sidebar */
body {
    margin-left: 250px;
    transition: margin-left 0.3s;
}

body.collapsed {
    margin-left: 60px;
    overflow-x: hidden;
    /* Prevents the gap when the sidebar closes */
}

.App {
    overflow-x: hidden;
    /* Ensure no horizontal overflow */
}

main {
    transition: margin-left 0.3s ease-in-out;
}

/* Extra styles for any additional tweaks */
.main.collapsed {
    margin-left: 60px;
}

/* App.css */

/* Loading Screen Styles */
.loading-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #f0f0f0;
    /* Background color for the loading screen */
}

.loading-spinner {
    border: 8px solid rgba(0, 0, 0, 0.1);
    border-top: 8px solid #3498db;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 1s linear infinite;
    margin-bottom: 20px;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

/* Fullpage section for each component */
.fullpage-section {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    box-sizing: border-box;
}

/* Background colors for different sections */
.about-background {
    background: linear-gradient(to bottom, #ffffff 70%, #a7d0ff 100%);
}

.work-background {
    background: linear-gradient(to bottom, #a5d0ff, #eec2ff);
}

.whyme-background {
    background: linear-gradient(to bottom, #eec2ff, #ffffff);
}

.contact-background {
    background-color: #5a43a0;
}

html {
    scroll-behavior: smooth;
}

/* Adjust the body margin based on sidebar */
body {
    margin-left: 250px;
    transition: margin-left 0.3s;
}

body.collapsed {
    margin-left: 60px;
    overflow-x: hidden;
    /* Prevents the gap when the sidebar closes */
}

.App {
    overflow-x: hidden;
    /* Ensure no horizontal overflow */
}

main {
    transition: margin-left 0.3s ease-in-out;
}

/* Extra styles for any additional tweaks */
.main.collapsed {
    margin-left: 60px;
}