
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #fafafa;
    transition: margin-left 0.3s ease-in-out;
}

main {
    padding: 20px;
    margin-left: 250px;
    transition: margin-left 0.3s ease-in-out;
}

.collapsed main {
    margin-left: 60px;
}

h2 {
    font-size: 2rem;
    margin-bottom: 20px;
}
main {
    margin-left: 250px;
    /* Adjust this based on your sidebar width */
    overflow-x: hidden;
    /* Prevent horizontal overflow */
}

.collapsed main {
    margin-left: 60px;
    /* Adjust when sidebar is collapsed */
}

